# TGJU

Testing scraping **tgju**.

In [45]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

## Gold

Get **Gold** price

In [46]:
gold_url = "https://www.tgju.org/gold-chart"

g_r = requests.get(gold_url)

g_soup = BeautifulSoup(g_r.content, 'html.parser')

In [54]:
g_tables = g_soup.find_all('table', class_='market-table')

g_out = []

for table in g_tables:
    body = table.find('tbody')
    rows = body.find_all('tr')
            
    title = table.find('th').text
        
    prices = []
    
    for item in rows:
        item_title = item.find('th').text
        item_price = item.find('td', class_='nf').text
        item_key = item.find_all('td')[-1].find('a').get('href').split('/')[-1]
        
        prices.append({'title': item_title, 'price': item_price, 'key': item_key})
    
    g_out.append({'title': title, 'prices': prices})
    
df = pd.DataFrame(g_out)

df

              title                                             prices
0          قیمت طلا  [{'title': 'طلای 18 عیار / 750', 'price': '24,...
1  مظنه / مثقال طلا  [{'title': 'مثقال طلا ', 'price': '108,140,000...
2        قیمت آبشده  [{'title': 'آبشده نقدی', 'price': '108,110,000...
3         قیمت نقره  [{'title': 'گرم نقره ۹۲۵', 'price': '347,980',...
4       طلا در بورس  [{'title': 'صندوق طلای مفید', 'price': '75,989...

## Currency

Get **Currency** price

In [9]:
currency_url = "https://www.tgju.org/currency"

c_r = requests.get(currency_url)

c_soup = BeautifulSoup(c_r.content, 'html.parser')

In [40]:
c_tables = c_soup.find_all('table', class_='market-table')

c_out = []

for table in c_tables:
    body = table.find('tbody')
    rows = body.find_all('tr')

    for row in rows:
        title = row.find('th').text
        price = row.find('td', class_='nf').text
        key = row.find_all('td')[-1].find('a').get('href').split('/')[-1]
        
        c_out.append({'title': title, 'price': price, 'key': key})
            
    
df = pd.DataFrame(c_out)

df

                title      price              key
0                دلار    512,360  price_dollar_rl
1                یورو    550,790        price_eur
2        درهم امارات     139,890        price_aed
3         پوند انگلیس    637,120        price_gbp
4          لیر ترکیه      25,200        price_try
5        فرانک سوئیس     567,600        price_chf
6           یوان چین      72,500        price_cny
7   ین ژاپن (100 ین)     367,350        price_jpy
8       وون کره جنوبی        390        price_krw
9        دلار کانادا     378,900        price_cad
10     دلار استرالیا     334,400        price_aud
11     دلار نیوزیلند     310,200        price_nzd
12      دلار سنگاپور     380,100        price_sgd
13         روپیه هند       6,210        price_inr
14     روپیه پاکستان       1,805        price_pkr
15        دینار عراق         400        price_iqd
16         پوند سوریه        204        price_syp
17            افغانی       5,860        price_afn
18      کرون دانمارک      74,000        price_dkk
19         کرون سوئد      47,300        price_sek
20         کرون نروژ      45,900        price_nok
21      ریال عربستان     137,120        price_sar
22          ریال قطر     141,100        price_qar
23         ریال عمان   1,336,400        price_omr
24        دینار کویت   1,672,800        price_kwd
25       دینار بحرین   1,372,400        price_bhd
26      رینگیت مالزی     113,000        price_myr
27        بات تایلند      14,840        price_thb
28      دلار هنگ کنگ      65,500        price_hkd
29        روبل روسیه       6,720        price_rub
30    منات آذربایجان     302,100        price_azn
31     درام ارمنستان       1,330        price_amd
32      لاری گرجستان     201,400        price_gel
33      سوم قرقیزستان      5,860        price_kgs
34   سامانی تاجیکستان     47,500        price_tjs
35     منات ترکمنستان    153,300        price_tmt